 <div class="card">
    <img class="card-img-top" src="<%= place.cover_image%>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= place.name%></h5>
      <p class="card-text"><%= place.description%></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= place.updated_at %></small>
      <small class="text-muted">Hosted By:<%= link_to place.user.first_name, user_path(place.user) %></small>
      <small class="text-muted"><%= place.city.name %></small>
      <small class="text-muted">$<%= place.price_per_night %> per night</small>
    </div>
  </div>
